@media (max-width: 425px){

body{
	width: 100vw;
	height: 100vh;
	font-family: verdana;
	background: black;
	display: flex;
}


main, #movie-title, .box, .seta, .movie, .main-movie, button{
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	width: 100%;
	flex-direction: column;	
}

#movie-title{
	font-size: 5vw;
	color: white;
	font-weight: bold;
	padding: 5vw;
}


.box{
	max-width: 100%;
}

.movie{
	max-width: 88%;
	justify-content: space-between;
}

button{	
	width: 15%;
	font-family: font-family: Verdana, sans-serif;
	font-weight: 700;
	color: white;
	background: none;
	border-style: none;
	margin: 0;	
}

.main-movie{
	width: 80%;
}
}

@media (min-width: 768px){

body{
	width: 100vw;
	height: 100vh;
	font-family: verdana;
	background: black;
	display: flex;
}


main, #movie-title, .box, .seta, .movie{
	display: flex;
	justify-content: center;
	align-items: center;	
}

main{
	width: 70%;	
	margin: 0 auto;
	flex-direction: column;
}

#movie-title{	
	color: white;
	font-size: 1.2vw;
	padding: 1.2vw;
}


.box{
	width: 100%;
}

.movie{	
	
}

button{	
	padding: 2%;
	font-size: 5vw;
	font-family: font-family: Verdana, sans-serif;
	font-weight: 700;
	color: white;
	background: none;
	border-style: none;
	margin: 0;
}

.main-movie{
	max-width: 45%;	
	
	margin: 0 10%;
}
}